* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


.container1 {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    
    
    backdrop-filter: blur(10px);
              
}


body {
    background-image: url(images/Colorful-Circles-on-White-Backgrounds.jpg);
    
    z-index: 1;
}
.container2 {
    z-index: 5;
    background-color: #fff;
    width: 50%;
    height: 400px;
    display: flex;
    place-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.329);
    
}

.card {
    width: 33%;
    height: auto;
    place-items: start;
    padding: 20px;

}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.sub {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
}

.content {
    font-weight: 600;
    margin-bottom: 60px;
}


.boton {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

#btn1 {
background: #fc4d8e;
    color: #000;
}

#btn2 {
    background: #09e1ef;
    color: #000;
}
#btn3 {
    background: #000000;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

#card3 {
    margin-left: 30px;
    margin-right: 30px;
}

#card2 {
    margin-left: 30px;
}

@media (max-width:780px){
    .container2 {
        padding: unset;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;  
    }
    .card {
        width: 100%;
    }
}